@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


.hero{
    background-image: url('images/hero3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

 .logo {
     font-family: 'Pacifico', cursive;
     font-size: 2rem;
     color: #FF69B4;
     text-align: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
     margin: 1rem;
 }

 .logo:hover{
    color: #f6067e;
    transition:cubic-bezier(1, 0, 0, 1) 0.5s
 }

 .logo a {
     text-decoration: none;
     color: inherit;
 }


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.form-bg{
    background-color: #F9FAFC;
}

.logo-text-color{
    color: #FF69B4;;
}

.logo-text-color:hover {
     color: #f6067e;
    transition: cubic-bezier(1, 0, 0, 1) 0.5s
 }

.btn-color{
    background-color: #D2B48C;
}



.animated-img{
    opacity:0;
    transform: translateX(-10px);
    animation: moveright 0.8s linear forwards;
}


@keyframes moveright {
        100%{
            opacity:1;
            transform: translateX(30px);
        }
}

.animated-img-about{
    opacity:0;
    transform: translateX(-30px);
    animation: moveToZero 0.8s linear forwards;
}


@keyframes moveToZero {
        100%{
            opacity:1;
            transform: translateX(0px);
        }
}

.animated-img-hero{
    opacity:0;
    transform: translateY(-30px);
    animation: moveHero 0.8s linear forwards;
}


@keyframes moveHero {
        100%{
            opacity:1;
            transform: translateY(0px);
        }
}


#preloader{
    background:#FEFEFF url('images/preloader.gif') no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}


